
    @font-face {
        font-family: 'SF TransRobotics';
        font-style: normal;
        font-weight: normal;
        src: local('SF TransRobotics'), url('SF TransRobotics.woff') format('woff');
        }

        h1 {
            font-family: 'SF TransRobotics';
            font-weight:200;
        }